# Project exclude paths
# Due to the requirements from TA, a jar package should be included, so /target/ and a jar package should be included when submmiting your project
/target/   
/.idea/
*.pdf
/.vscode/
*.zip